# coding: utf-8

home      = ENV["HOME"]
BaseDir   = "#{home}/data/seesaw"

TargetDir = [ "#{home}/video/mp4",  ]
TargetExt = [ "mp4", "ts" ]
Exclude   = [ "シネマ",  ]

RefreshPeriod = 3600            # データ更新周期(秒)
DoneTime      = 60              # 視聴済にする再生時間(秒)
FlipDelay     = 60              # close から反転処理までの遅延時間(秒)
LogRotateSize = 1 * 10 ** 6     # log ローテーションサイズ(byte)

# Ver1
#SambaLog  = "/var/log/smb_acc.log"

# Ver2 
ProftpdLogFN = "/var/log/proftpd/extende.log"
TimeOffset   = "JST"            # log の日時に対する時差

